.buttoncontainer {
    display: flex;
    justify-content: center;
}
.buttoncontainer > button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4rem;
    color: black;
    background-color: white;
    border: none;
}
.inputcontainer {
    align-items: center;
    margin-top: 5rem;
    max-width: 50%;
    right: 60px;
}
.inputcontainer > .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.inputcontainer > .row > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.sahnecontainer > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.würfelcontainer > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.behältercontainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
}
.behältercontainer > a > img {
    margin: 1rem 4rem;
}

.mengecontainer {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
}

.mengebutton {
    background-color: white;
    color: black;
    border: none;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.counterbutton {
    max-width: 10px;
    border-radius: 100px;
}

.savecoffeebutton {
    margin-left: auto;
    margin-top: 2rem;
}
.invisible {
    visibility: hidden;
}

label {
    margin-bottom: 0;
}

#becherimg {
    height: 100px;
    width: 100px;
}

#tasseimg {
    height: 100px;
    width: 100px;
}

#thermoimg {
    height: 100px;
    width: 100px;
}

#glasimg {
    height: 100px;
    width: 100px;
}

#sahnelabel {
    text-align: right;
}

#hidden {
    margin-left: unset;
    margin-right: unset;
}
