.buttoncontainer {
    display: flex;
    justify-content: center;
}
.buttoncontainer > button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4rem;
    color: black;
    background-color: white;
    border: none;
}
.inputcontainer {
    align-items: center;
    margin-top: 5rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inputcontainer > .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.inputcontainer > .row > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.sahnecontainer > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.sahnecontainer {
    align-items: center;
}

.würfelcontainer > input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.würfelcontainer {
    align-items: center;
}

.behältercontainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.behältercontainer > a > img {
    margin: 1rem 4rem;
}

.mengecontainer {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.mengebutton {
    background-color: white;
    color: black;
    border: none;
    max-width: 100px;
    margin-bottom: 2rem;
}

.counterbutton {
    max-width: 10px;
    border-radius: 100px;
}

.savecoffeebutton {
    margin-left: auto;
    margin-top: 2rem;
}
.invisible {
    visibility: hidden;
}

label {
    margin-bottom: 0;
}

#becherimg {
    height: 100px;
    width: 100px;
}

#tasseimg {
    height: 100px;
    width: 100px;
}

#glasimg {
    height: 100px;
    width: 100px;
}

#hidden {
    margin-left: unset;
    margin-right: unset;
}

@media screen and (max-width: 1440px) {
    /*.würfelcontainer {*/
    /*    width: 100%;*/
    /*}*/
    /*.sahnecontainer {*/
    /*    width: 100%;*/
    /*}*/
}
